# Node modules
node_modules/

# Playwright reports and test results
playwright-report/
test-results/
screenshots/

# Environment config
.env

# OS/IDE-related
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Examples
tests-examples/
